1.Create a List L that is defined as L= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L. 
ii. WAP to remove 10 and 30 from L. 
iii. WAP to sort L in ascending order. 
iv. WAP to sort L in descending order

In [1]:
L =[10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)
print("after adding 200 and 300:",L)
L.remove(10)
L.remove(30)
print("after removing 10 and 30:",L)
sorted(L)
print(" L after sorting in ascending order",L)
l_descending=sorted(L,reverse=True)
print("after sorting in descending order",l_descending)

after adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
after removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
 L after sorting in ascending order [20, 40, 50, 60, 70, 80, 200, 300]
after sorting in descending order [300, 200, 80, 70, 60, 50, 40, 20]

2.Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions: 
i. Identify the highest score and its index in the tuple. 
ii. Find the lowest score and count how many times it appears. 
iii. Reverse the tuple and return it as a list. 
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present

In [3]:
score=(45,89.5,76,45.4,89,92,58,45)
highscore=max(score)
print("the highest score is :",highscore)
highindex=score.index(highscore)
print("the highest index is:",highindex)
lowestscore=min(score)
print("the lowest score is :",lowestscore)
count=score.count(lowestscore)
print("the count of the lowest score is :",count)
reversedlist=list(score[::-1])
inputbyuser=76
if inputbyuser in score:
    firstoccurence=score.index(inputbyuser)
    presence=f"the score {inputbyuser} is present at index:{firstoccurence}"
else:
    presence=f"the score{inputbyuser} is not present in the tuple"
print(presence)

the highest score is : 92
the highest index is: 5
the lowest score is : 45
the count of the lowest score is : 2
the score 76 is present at index:2

3.WAP to create a list of 100 random numbers between 100 and 900. Count and print the: 
i. All odd numbers 
ii. All even numbers 
iii.All prime numbers.

In [5]:
import random
randomnum=[random.randint(100,900) for _ in range(100)]
def is_prime(n):
    if n<2:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
        return True
print("random numbers:", randomnum)
oddnum=[num for num in randomnum if num % 2 !=0]
print("odd number:",oddnum)
evennum=[num for num in randomnum if num %2==0]
print("even numbers:",evennum)
primenum=[num for num in randomnum if is_prime(num)]
print("prime numbers:",primenum)
primenum=[num for num in randomnum if is_prime(num)]
print("count of odd numbers:",len(oddnum))
print("count of even numbers:",len(evennum))
print("count of prime numbers:", len(primenum))

random numbers: [471, 767, 133, 285, 808, 581, 255, 740, 808, 506, 631, 413, 285, 364, 561, 435, 592, 342, 786, 136, 858, 370, 118, 399, 388, 790, 267, 522, 459, 790, 400, 311, 689, 713, 699, 436, 196, 766, 539, 481, 703, 868, 547, 689, 642, 837, 454, 809, 330, 675, 190, 628, 153, 870, 120, 720, 199, 129, 484, 563, 716, 604, 593, 623, 496, 566, 351, 629, 431, 441, 347, 569, 304, 695, 307, 774, 307, 809, 347, 625, 762, 405, 502, 827, 443, 510, 219, 205, 600, 360, 196, 727, 733, 872, 680, 536, 463, 694, 544, 869]
odd number: [471, 767, 133, 285, 581, 255, 631, 413, 285, 561, 435, 399, 267, 459, 311, 689, 713, 699, 539, 481, 703, 547, 689, 837, 809, 675, 153, 199, 129, 563, 593, 623, 351, 629, 431, 441, 347, 569, 695, 307, 307, 809, 347, 625, 405, 827, 443, 219, 205, 727, 733, 463, 869]
even numbers: [808, 740, 808, 506, 364, 592, 342, 786, 136, 858, 370, 118, 388, 790, 522, 790, 400, 436, 196, 766, 868, 642, 454, 330, 190, 628, 870, 120, 720, 484, 716, 604, 496, 566, 304, 774, 762, 502, 510, 600, 360, 196, 872, 680, 536, 694, 544]
prime numbers: [471, 767, 133, 285, 581, 255, 631, 413, 285, 561, 435, 399, 267, 459, 311, 689, 713, 699, 539, 481, 703, 547, 689, 837, 809, 675, 153, 199, 129, 563, 593, 623, 351, 629, 431, 441, 347, 569, 695, 307, 307, 809, 347, 625, 405, 827, 443, 219, 205, 727, 733, 463, 869]
count of odd numbers: 53
count of even numbers: 47
count of prime numbers: 53

4.Consider the following two sets, A and B, representing scores of two teams in multiple A = {34, 56, 78, 90} and B = {78, 45, 90, 23} WAP to perform the following opera ons using set func ons: 
i. Find the unique scores achieved by both teams (union of sets). 
ii. Identify the scores that are common to both teams (intersection of sets). 
iii. Find the scores that are exclusive to each team (symmetric difference). 
iv. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A. 
v. Remove a specific score 𝑋 (input by the user) from set A if it exists. If not, print a message saying it is not present.

In [11]:
A={34,56,78,90}
B={78,45,90,23}
union=A.union(B)
print("the unique scores achieved by both teams:",union)
common=A.intersection(B)
print("the common scores of both teams are:",common)
difference=A.symmetric_difference(B)
print("the exclusive scores to each team are:",difference)
isAsubsetofB=A.issubset(B)
print(f"is A subset of B?{isAsubsetofB}")
isBsupersetofA=B.issuperset(A)
print(f"is B superset of A?{isBsupersetofA}")
x=int(input("enter a score from set A:"))
if x in A:
    A.remove(x)
    message=f"the score {x} is removed from set A"
else:
    message=f"the score {x} is not present i  set A"

print(message)
print("updated set A:",A)

the unique scores achieved by both teams: {34, 45, 78, 23, 56, 90}
the common scores of both teams are: {90, 78}
the exclusive scores to each team are: {34, 45, 23, 56}
is A subset of B?False
is B superset of A?False

enter a score from set A: 34

the score 34 is removed from set A
updated set A: {56, 90, 78}

5.Write a program to rename a key city to a location in the following dictionary.

In [15]:
sampledict={"name":"kelly","age":25,"salary":80000,"city":"NEW YORK"}
sampledict["location"]=sampledict.pop("city")
print(sampledict)

{'name': 'kelly', 'age': 25, 'salary': 80000, 'location': 'NEW YORK'}